.header{
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}

.btn-signup{
  padding: 9px 25px;
  -webkit-border-radius: 31px;
     -moz-border-radius: 31px;
          border-radius: 31px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  &:hover{
    background: #fff;
    color: var(--primary-color);
  }
}